.box1{
  background-color: red;
  height: 50px;
}

.box2{
  background-color: blue;
  height: 50px;
}

.box3{
  background-color: green;
  height: 50px;
}

.hero-img{
  background-image: url("http://s3.amazonaws.com/kidzworld_photo/images/2016527/7bbe50c1-9d51-4daf-ab01-a4b5603affc3/hamburger.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
}

.button{
  background-color: #grey;
  border: none;
  color: green;
}

p {
  font-family: 'Wendy One', sans-serif;

}
